.containerEmpty{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.4);
}

.boxEmpty{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    width: calc(100% - 120px);
    
}

.boxEmpty p{
    flex-grow: 1;
    color:rgb(28,28,20);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.isLoading{
    justify-content: flex-end;
    margin: 24px 0px;
    width: calc(100% - 120px);
    height: 100px;
    cursor: progress;
    animation: 1.5s loadingAnimation linear infinite;
    background: #eee;
    background: linear-gradient(
            110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%
        );
    background-size: 200% 100%;
}

@keyframes loadingAnimation {
    to {
        background-position-x: -200%;
    }
}